<launch>
  <!-- Select your Reachy configuration -->
  <arg name="head" default="true" />
  <arg name="left_arm" default="true" />
  <arg name="right_arm" default="true" />

  <!-- By default we do not overwrite the URDF. Change the following to true to change the default behavior -->
  <arg name="load_robot_description" default="false"/>

  <!-- The name of the parameter under which the URDF is loaded -->
  <arg name="robot_description" default="robot_description"/>

  <!-- Load universal robot description format (URDF) -->
  <param name="$(arg robot_description)" command="$(find xacro)/xacro $(find reachy_description)/reachy.URDF.xacro head:=$(arg head) right_arm:=$(arg right_arm) left_arm:=$(arg left_arm)" />
  <!-- The semantic description that corresponds to the URDF -->
  <param name="$(arg robot_description)_semantic" command="$(find xacro)/xacro $(find reachy_moveit_config)/config/reachy.srdf.xacro head:=$(arg head) right_arm:=$(arg right_arm) left_arm:=$(arg left_arm)" />

  <!-- Load updated joint limits (override information from URDF) -->
  <group ns="$(arg robot_description)_planning">
    <rosparam command="load" file="$(find reachy_moveit_config)/config/joint_limits.yaml"/>
  </group>

  <!-- Load default settings for kinematics; these settings are overridden by settings in a node's namespace -->
  <group ns="$(arg robot_description)_kinematics">
    <rosparam command="load" file="$(find reachy_moveit_config)/config/kinematics.yaml"/>

  </group>

</launch>
